{% extends 'base.html' %}

{% block container %}
  <div class="content">

    <div class="row">
  {% block sidebar %}
  <div class="span4">
    <div class="well">
      <h5>Menu</h5>
      <ul>
        <li><a href="#notifications">Notifications</a></li>
        <li><a href="#newtransaction">New Transaction</a></li>
        <li><a href="#recenttransactions">Recent Transactions</a></li>
        <li><a href="#balances">Balances</a></li>
      </ul>
	</div>
  </div>
  {% endblock %}

  <div class="span12">

  {% block messages %}
	{% if messages %}
	  {% for message in messages %}
	    <div class="alert-message {{ message.tags}}">
			<a class="close" href="#">×</a>
			<p>{{ message }}</p>
		</div>
	  {% endfor %}
	{% endif %}
  {% endblock %}

  {% block content %}

  <div name="newtransaction">
    <h3>New Transaction</h3>
	{% if pending_trans_records %}
	<h4>Pending Transactions</h4>

    <table class="zebra-striped">
	  <thead>
	    <tr>
		  <th>Type</th>
		  <th>Person</th>
		  <th>Amount</th>
		  <th>Time</th>
		  <th>Actions</th>
		</tr>
	  </thead>
	  <tbody>
	    {% for record in pending_trans_records %}
	    <tr>
		  <td>
			{% if record.from_provider %}
			  Payment
			{% else %}
			  Charge
			{% endif %}
		  </td>
		  <td>{{ record.creator_person }}</td>
		  <td>{{ record.value_repr }}</td>
		  <td>{{ record.transaction_time}}</td>
		  <td>
		  	<a href="#">confirm</a>
			<a href="#">modify</a>
			<a href="#">reject</a>
		  </td>
		</tr>
		{% endfor %}
	  </tbody>
    </table>
	{% endif %}

	<h4>Register a new transaction</h4>
	<form method="post" action="{% url transaction_new %}">
		{% csrf_token %}
		{{ new_transaction_form.as_p }}
		<input type="submit" class="btn primary" value="Submit">
	</form>

  </div>

  <div name="recenttransactions">
    <h3>Recent Transactions</h3>
  
    <table class="zebra-striped">
	  <thead>
	    <tr>
		  <th>Type</th>
		  <th>Status</th>
		  <th>Person</th>
		  <th>Amount</th>
		  <th>Time</th>
		  <th>Confirmed Time</th>
		</tr>
	  </thead>
	  <tbody>
	    {% for record in recent_trans_records %}
	    <tr>
		  <td>
			{% if record.from_provider %}
			  Payment
			{% else %}
			  Charge
			{% endif %}
		  </td>
		  <td>{{ record.status }}</td>
		  <td>{{ record.target_person }}</td>
		  <td>{{ record.value_repr }}</td>
		  <td>{{ record.transaction_time}}</td>
		  <td>{{ record.transaction.time_confirmed }}</td>
		</tr>
		{% endfor %}
	  </tbody>
    </table>
  </div>

  <div name="balances">
    <h3>Balances</h3>
	<table class="zebra-striped">
	  <thead>
	  	<tr>
		  <th>Person</th>
		  <th>Amount</th>
		  <th>Last Change</th>
		  <th>Actions</th>
		</tr>
	  </thead>
	  <tbody>
	  	{% for balance in balances %}
		<tr>
		  <td>{{ balance.other_person }}</td>
		  <td>{{ balance.relative_value }}</td>
		  <td>{{ balance.balance.time_updated }}</td>
		  <td>
		    <a href="{% url transaction_list %}">History</a>
		  </td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
  </div>

  {% endblock %}
  </div>

    </div>
  </div>
{% endblock %}

