{% extends 'base.html' %}
{% load markup %}

{% block container %}
      <div class="hero-unit">
	    {{ intro.body|markdown }}
      </div>

      <div class="row">
        <div class="span-one-third">
          <h2>Start your own LETS</h2>
          <p>
		    <a href="https://github.com/dnephin/openLETS">openLETS</a> is an open source and freely distributed <a href="http://en.wikipedia.org/wiki/Local_exchange_trading_system">local exchange trading system</a>. Download the <a href="https://github.com/dnephin/openLETS">source</a> and start your own LETS.
		  </p>
          <p><a class="btn" href="https://github.com/dnephin/openLETS">Download &raquo;</a></p>
        </div>
        <div class="span-one-third">
          <h2>Try it out</h2>
		  <p>Register with openLETS.net to see how it works, trade goods and 
		  exchange services with your friends and community. 
		  </p>

		  <form method="POST" action="{% url user_new %}">
   		    {% csrf_token %}
		    {{ user_form.as_plain }}
            <p><input type="submit" class="btn" value="Register &raquo;"></p>
		  </form>
       </div>
        <div class="span-one-third">
          <h2>Login</h2>
		  <p>Already using openlets?</p>

		  <form method="POST" action="{% url django.contrib.auth.views.login %}">
		    {% csrf_token %}
		    {{ login_form.as_plain }}
            <p><input type="submit" class="btn" value="Login &raquo;"></p>
		  </form>

        </div>
      </div>

      <footer>
        <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">openLETS</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://openLETS.net" property="cc:attributionName" rel="cc:attributionURL">openLETS development community</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>.</p>
      </footer>
{% endblock %}

