{% extends 'base.html' %}

{% block container %}
  <div class="content">

    <div class="row">
  {% block sidebar %}
  <div class="span3 fixed">
    <div class="well">
      <h5>Menu</h5>
      <ul class="unstyled">
        <li><a href="#usagestats">Usage Statistics</a></li>
        <li><a href="#account">Account</a></li>
        <li><a href="#settings">Settings</a></li>
        <li><a href="#exchangerates">Exchange Rates</a></li>
      </ul>
	</div>
  </div>
  {% endblock %}

  <div class="span13 offset3">

  {% block messages %}
	{% if messages %}
	  {% for message in messages %}
	    <div class="alert-message {{ message.tags}}" data-alert="alert">
			<a class="close" href="#">×</a>
			<p>{{ message }}</p>
		</div>
	  {% endfor %}
	{% endif %}
  {% endblock %}

  {% block content %}

  <section id="usagestats">
    <h2>Usage Statistics</h2>
	<p>Below are some statistics about your account.</p>
	<ul class="unstyled">
  	  <li><strong>Join on</strong> {{ user.date_joined }}</li>
	  <li><strong>Last login</strong> {{ user.last_login }}</li>
	</ul>
  </section>

  <section id="account">
    <h2>Account</h2>
	<p>Update your account username, proper name, and email address.</p>

	<form method="POST" action="{% url user_update %}">
      {% csrf_token %}
  	  {{ user_form.as_p }}
	  <div class="input">
	    <input type="submit" value="Update" class="btn primary"/>
	  </div>
	</form>

	<h4>Password</h4>
	<p>Change your password.</p>
	<form method="POST" action="{% url django.contrib.auth.views.password_change %}">
      {% csrf_token %}
	  {{ password_form.as_p }}
	  <div class="input">
	    <input type="submit" value="Update password" class="btn primary"/>
	  </div>
	</form>
  </section>

  <section id="settings">
    <h2>Settings</h2>
	<p>Update your default settings.</p>
	<form method="POST" action="{% url person_update %}">
      {% csrf_token %}
	  {{ person_form.as_p }}
	  <div class="input">
	    <input type="submit" value="Update" class="btn primary"/>
	  </div>
	</form>
  </section>

  <section id="exchangerates">
    <h2>Exchange Rates</h2>
	<p>Exchange rates allow you to resolve balances through trading currencies.
	Resolutions are done automatically, so all you have to do is setup an
	exchange rate.</p>

	<h4>Create Exchange Rate</h4>
	<p>Create a new exchange rate.</p>
	<form method="POST" action="{% url exchange_rate_new %}">
      {% csrf_token %}
	  {{ exchange_rate_form.as_p }}
	  <div class="input">
	    <input type="submit" value="Create" class="btn primary"/>
	  </div>
	</form>

	<h4>Exchange Rate List</h4>
	<p>Your current exchange rates.</p>
	<table>
	  <thead>
	  <tr>
	    <th>Source</th>
	    <th>Destination</th>
	    <th>Created</th>
	    <th>Actions</th>
	  </tr>
	  </thead>
	  <tbody>
  	  {% for exchange in exchange_rates %}
		<tr>
		  <td>{{ exchange.source_repr }}</td>
		  <td>{{ exchange.dest_repr }}</td>
		  <td>{{ exchange.time_created }}</td>
		  <td>
		    <a href="#" class="btn small">Modify</a>
			<a href="#"class="btn small danger">Remove</a>
		  </td>
		</tr>
	  {% endfor %}
	  </tbody>
	</table>
  </section>

  {% endblock %}
  </div>
  </div>
  </div>
{% endblock %}
