{% extends "base.html" %}


{% block container %}
	<h2>Transactions</h2>

	<p><strong>Filters: </strong> <p>
	<form action="{{ transaction_list }}">
	  {{ filter_form.as_p }}
	  <input type="submit" class="btn primary" value="Filter"/>
	</form>

	<p><strong>Displaying: </strong> <p>
    <table class="zebra-striped">
	  <thead>
	    <tr>
		  <th>Type</th>
		  <th>Status</th>
		  <th>Person</th>
		  <th>Amount</th>
		  <th>Time</th>
		  <th>Confirmed Time</th>
		</tr>
	  </thead>
	  <tbody>
	    {% for record in records %}
	    <tr>
		  <td>
			{% if record.from_provider %}
			  Payment
			{% else %}
			  Charge
			{% endif %}
		  </td>
		  <td>{{ record.status }}</td>
		  <td>{{ record.target_person }}</td>
		  <td>{{ record.value_repr }}</td>
		  <td>{{ record.transaction_time}}</td>
		  <td>{{ record.transaction.time_confirmed }}</td>
		</tr>
		{% endfor %}
	  </tbody>
    </table>
{% endblock %}

